* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow-x: hidden;
    font-family: 'Raleway';
}

* {
    text-decoration: none;
}


header {
    min-height: 80vh;
    width: 100%;

    background-color: gray;
    background-image: url(imagens/Background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header a {
    color: aliceblue;
    margin-top: 80px;
}

header>h1 {
    margin-bottom: 25px;
}

.title-1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 18px;
    padding: 40px 0;
}

.title-1 h1 {
    font-weight: 500;
}

.title-1>div {
    width: 300px;
    background-color: #246919;
    color: #000;
    height: 4px;
    border-radius: 10px;

}

.sobre {
    width: 10   0%;
    margin: 100px auto;
    gap: 40px;
}

.sobre h1 {
    width: 45%;


}

.sobre img {
    width: 45% ;
    object-fit: cover;
    border-radius: 5px;
}

@media (max-width:1000px) {
    .sobre img{
        aspect-ratio: 1/1;
    }
}

@media (max-width:1000px) {
    .sobre{
        flex-direction: column;
        
    }

    .sobre img{
        aspect-ratio: auto;
        width: 80%;
    }

    .sobre h1{
        text-align: center;
        width: 70%;

    }
    
}